<h1> Welcome to the Images page </h1>
<div class="row">
	<div class="span8">
		<form  method="post"> 
			<input type="text" name="image" value="<%=params[:image] unless params[:image].nil? %>"></input>
			<button type="submit" class="btn" formaction="image_query">Submit</button>
			<button type="submit" class="btn" formaction="random_image">Random Picture</button>
		</form>
	</div>
</div>

<% if params.count <= 2  && @url.nil? %> 
	<p> No Images Found yet </p>

<% else  %> 
	<img src="<%= @url %>" width="100%"/> 

<% end  %> 
<hr />
<p><%= params.count %>:  <%= params %></p>

