

<div class="main_txt">
<h1> Welcome to the Images page </h1>
<form action="image_query" method="get"> 
	<input type="text" name="image" value="<%=params[:image] unless params[:image].nil? %>"></input>
	<button>Submit</button>
</form> 
<form action="random_image" method="get"> 
	<button>Random Picture</button>
</form> 

<% if params.count <= 2  && params.count != 1 %> 
	<p> No Images Found yet </p>
	
<% else  %> 
	<img src="<%= @url %>" width="20%"/> 

<% end  %> 
<hr />
<p><%= params.count %>:  <%= params %></p>

</div>
