html{
	background: black; 
}
nav li{
	list-style-type:none;
	text-decoration: none;
	
}
nav {	
	position: fixed;
	top: 30px;
	left: 30px;
}

.main_txt{
	background-color: rgba(255,255,255,0.85);
	width: 800px;
	margin: 20px auto 20px auto; 
	padding: 20px;
	-webkit-border-radius:18px;
	-moz-border-radius:18px;
	border-radius:18px;
}

.footer{
	background: white;
	margin: 20px auto 20px auto; 
	padding: 20px;
}

.footer img {
	text-align: right;
}

